body, html {
    margin: 0;
    padding: 0;
    background-color: #EBEBEB;
}

.grid-table-linkable-column {
    text-decoration: none;
}

.breadcrumbs {
    gap: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    justify-content: flex-start;
}

.breadcrumbs a {
    text-decoration: none;
}

.box-shadow-layout {
    padding: 1.4rem;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}